
<% @prescriptions.each do |prescription|%>
<hr>
<h1 class "rxname"><%=prescription.name %></h1>

<p><%=prescription.directions%></p>

<%= link_to "View Prescription", prescription_path(prescription), class: "btn btn-default"%>
<%end %>
<hr>
